<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HuajiTech.UnmanagedExports.Metadata" version="1.0.2" targetFramework="net45" />
  <package id="HuajiTech.UnmanagedExports.MSBuild" version="1.0.0-rc2" targetFramework="net45" />
  <package id="ILRepack" version="2.1.0-beta1" targetFramework="net45" />
  <package id="ILRepack.MSBuild.Task" version="2.0.13" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net45" />
  <package id="Unity" version="5.11.7" targetFramework="net45" />
</packages>